.wave-left {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    display: inline-block;
}

.wave-right {
    animation-name: wave-animation-right;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(28.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-16.0deg) }
    30% { transform: rotate(28.0deg) }
    40% { transform: rotate(-8.0deg) }
    50% { transform: rotate(20.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}

@keyframes wave-animation-right {
    0% { transform: scaleX(-1) rotate( 0.0deg) }
    10% { transform: scaleX(-1) rotate(28.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: scaleX(-1) rotate(-16.0deg) }
    30% { transform: scaleX(-1) rotate(28.0deg) }
    40% { transform: scaleX(-1) rotate(-8.0deg) }
    50% { transform: scaleX(-1) rotate(20.0deg) }
    60% { transform: scaleX(-1) rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: scaleX(-1) rotate( 0.0deg) }
}

.selection:hover {
    cursor: pointer;
    transform: scale(1.1);
}